<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
		  package="com.general.mediaplayer.csr"

		  coreApp="true"
		  android:versionCode="1"
		  android:versionName="1.0">

    <original-package android:name="com.general.mediaplayer.csr" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />
    <uses-permission android:name="android.permission.WRITE_SECURE_SETTINGS" />
    <uses-permission android:name="android.permission.DEVICE_POWER" />
    <uses-permission android:name="android.permission.CHANGE_CONFIGURATION" />
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.NFC" />
    <uses-permission android:name="android.permission.HARDWARE_TEST" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" />
    <uses-permission android:name="android.permission.MASTER_CLEAR" />
    <uses-permission android:name="android.permission.USE_CREDENTIALS" />
    <uses-permission android:name="com.google.android.googleapps.permission.GOOGLE_AUTH" />
    <uses-permission android:name="android.permission.ACCESS_DOWNLOAD_MANAGER" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.WRITE_CONTACTS" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIMAX_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIMAX_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CLEAR_APP_USER_DATA" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.MODIFY_PHONE_STATE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.WRITE_APN_SETTINGS" />
    <uses-permission android:name="android.permission.ACCESS_CHECKIN_PROPERTIES" />
    <uses-permission android:name="android.permission.READ_USER_DICTIONARY" />
    <uses-permission android:name="android.permission.WRITE_USER_DICTIONARY" />
    <uses-permission android:name="android.permission.FORCE_STOP_PACKAGES" />
    <uses-permission android:name="android.permission.PACKAGE_USAGE_STATS" />
    <uses-permission android:name="android.permission.BATTERY_STATS" />
    <uses-permission android:name="com.android.launcher.permission.READ_SETTINGS" />
    <uses-permission android:name="com.android.launcher.permission.WRITE_SETTINGS" />
    <uses-permission android:name="android.permission.MOVE_PACKAGE" />
    <uses-permission android:name="android.permission.USE_CREDENTIALS" />
    <uses-permission android:name="android.permission.BACKUP" />
	<uses-permission android:name="android.permission.GET_TASKS" />
    <uses-permission android:name="android.permission.READ_SYNC_SETTINGS" />
    <uses-permission android:name="android.permission.WRITE_SYNC_SETTINGS" />
    <uses-permission android:name="android.permission.READ_SYNC_STATS" />
    <uses-permission android:name="android.permission.READ_SYNC_SETTINGS" />
    <uses-permission android:name="android.permission.WRITE_SYNC_SETTINGS" />
    <uses-permission android:name="android.permission.STATUS_BAR" />
    <uses-permission android:name="android.permission.MANAGE_USB" />
    <uses-permission android:name="android.permission.SET_POINTER_SPEED" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />

	<uses-sdk android:minSdkVersion="15"/>

	<application android:theme="@android:style/Theme.Holo" android:label="@string/settings_label" android:icon="@mipmap/ic_launcher_settings" android:taskAffinity="" android:hardwareAccelerated="true" android:uiOptions="splitActionBarWhenNarrow">
        <receiver android:name="com.general.mediaplayer.csr.services.CallAlarm" />
        <service android:name="com.general.mediaplayer.csr.services.CsrManagerService">
            <intent-filter />
        </service>
		<activity android:label="@string/settings_label_launcher" android:name="Settings" android:taskAffinity="com.general.mediaplayer.csr" android:launchMode="singleTask">
			<intent-filter>
				<action android:name="android.intent.action.MAIN" />
				<category android:name="android.intent.category.LAUNCHER" />
			</intent-filter>
		</activity>
        <activity android:name=".SubSettings" android:taskAffinity="com.general.mediaplayer.csr" />
        <activity android:theme="@style/Theme.CreateShortCut" android:label="@string/settings_shortcut" android:name="CreateShortcut">
            <intent-filter>
                <action android:name="android.intent.action.CREATE_SHORTCUT" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:label="@string/wireless_networks_settings_title" android:name="Settings$WirelessSettingsActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <action android:name="darko.darkoinfinity.csr.WIRELESS_SETTINGS" />
                <action android:name="darko.darkoinfinity.csr.AIRPLANE_MODE_SETTINGS" />
                <action android:name="darko.darkoinfinity.csr.NFC_SETTINGS" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.VOICE_LAUNCH" />
            </intent-filter>
            <meta-data android:name="com.general.mediaplayer.csr.FRAGMENT_CLASS" android:value="com.general.mediaplayer.csr.WirelessSettings" />
            <meta-data android:name="com.general.mediaplayer.csr.TOP_LEVEL_HEADER_ID" android:resource="@id/wireless_settings" />
        </activity>
        <activity android:label="@string/wifi_settings" android:name="Settings$WifiSettingsActivity" android:clearTaskOnLaunch="true" android:configChanges="keyboardHidden|orientation|screenSize">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <action android:name="darko.darkoinfinity.csr.WIFI_SETTINGS" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.VOICE_LAUNCH" />
                <category android:name="com.general.mediaplayer.csr.SHORTCUT" />
            </intent-filter>
            <meta-data android:name="com.general.mediaplayer.csr.FRAGMENT_CLASS" android:value="com.general.mediaplayer.csr.wifi.WifiSettings" />
            <meta-data android:name="com.general.mediaplayer.csr.TOP_LEVEL_HEADER_ID" android:resource="@id/wifi_settings" />
        </activity>
        <activity-alias android:label="@string/wifi_settings" android:name=".wifi.WifiSettings" android:exported="true" android:clearTaskOnLaunch="true" android:configChanges="keyboardHidden|orientation|screenSize" android:targetActivity="Settings$WifiSettingsActivity">
            <meta-data android:name="com.general.mediaplayer.csr.FRAGMENT_CLASS" android:value="com.general.mediaplayer.csr.wifi.WifiSettings" />
            <meta-data android:name="com.general.mediaplayer.csr.TOP_LEVEL_HEADER_ID" android:resource="@id/wifi_settings" />
        </activity-alias>
        <!--
        <activity android:name=".wifi.WifiPickerActivity" android:clearTaskOnLaunch="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <action android:name="android.net.wifi.PICK_WIFI_NETWORK" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:theme="@*android:style/Theme.Holo.NoActionBar" android:name=".wifi.WifiSettingsForSetupWizardXL" android:exported="true" android:clearTaskOnLaunch="true" android:screenOrientation="behind" android:windowSoftInputMode="adjustResize" />
        -->
        <activity android:label="@string/wifi_advanced_settings_label" android:name="Settings$AdvancedWifiSettingsActivity" android:clearTaskOnLaunch="true" android:configChanges="keyboardHidden|orientation|screenSize">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <action android:name="darko.darkoinfinity.csr.WIFI_IP_SETTINGS" />
                <category android:name="android.intent.category.VOICE_LAUNCH" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
            <meta-data android:name="com.general.mediaplayer.csr.FRAGMENT_CLASS" android:value="com.general.mediaplayer.csr.wifi.AdvancedWifiSettings" />
            <meta-data android:name="com.general.mediaplayer.csr.TOP_LEVEL_HEADER_ID" android:resource="@id/wifi_settings" />
            <meta-data android:name="com.general.mediaplayer.csr.PARENT_FRAGMENT_TITLE" android:resource="@string/wifi_settings" />
            <meta-data android:name="com.general.mediaplayer.csr.PARENT_FRAGMENT_CLASS" android:value="com.general.mediaplayer.csr.Settings$WifiSettingsActivity" />
        </activity>


        <receiver android:name=".MediaPlayerBroadcastReceiver">
            <intent-filter android:priority="999">
                <action android:name="android.intent.action.BOOT_COMPLETED" />
                <action android:name="com.android.intent.CSR" />
            </intent-filter>
        </receiver>

	</application>
</manifest>
